
<div id="test" class="container mt-5">
  <div class="row">
              <div class="card-body text-center">
                  <span class="titulo">FORMULARIOS CREADOS</span>
                  <button class="btn btn-success float-end" routerLink="/crear-formulario">NUEVO</button>
                  <br><br> <table *ngIf="listFormularios.length> 0" class="table table-striped ">
                      <thead>
                        <tr>
                          <th scope="col" class="dato">Fecha</th>
                          <th scope="col" class="dato">Lugar</th>
                          <th scope="col" class="dato">Unidad</th>
                          <th scope="col" class="dato">No Acta</th>
                          <th scope="col" class="dato">Objetivo</th>
                          <th scope="col" class="dato">HoraInicial</th>
                          <th scope="col" class="dato">HoraFinal</th>
                          <th scope="col" class="dato">Antecedentes</th>
                          <th scope="col" class="dato">Agenda</th>
                          <th scope="col" class="dato">Desarrollo</th>
                          <th scope="col" class="dato">Compromiso</th>
                          <th scope="col" class="dato">FechaEntrega</th>
                          <th scope="col" class="dato">Responsable</th>
                          <th scope="col" class="dato">Nombre del Participante</th>
                          <th scope="col" class="dato">Entidad</th>
                          <th scope="col" class="dato">Correo</th>
                          <th scope="col" class="dato">Telefono</th>
                          <th scope="col" class="dato">Firma</th>
                          <th scope="col" class="dato"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let formulario of listFormularios">
                          <td class="dato">{{ formulario.fecha }}</td>
                          <td class="dato">{{ formulario.lugar }}</td>
                          <td class="dato">{{ formulario.unidad}}</td>
                          <td class="dato">{{ formulario.noActa}}</td>
                          <td class="dato">{{ formulario.objetivo}}</td>
                          <td class="dato">{{ formulario.horaInicial}}</td>
                          <td class="dato">{{ formulario.horaFinal}}</td>
                          <td class="dato">{{ formulario.antecedentes }}</td>
                          <td class="dato">{{ formulario.agenda}}</td>
                          <td class="dato">{{ formulario.desarrollo}}</td>
                          <td class="dato">{{ formulario.compromiso}}</td>
                          <td class="dato">{{ formulario.fechaEntrega}}</td>
                          <td class="dato">{{ formulario.responsable}}</td>
                          <td class="dato">{{ formulario.nombreParticipante }}</td>
                          <td class="dato">{{ formulario.entidad}}</td>
                          <td class="dato">{{ formulario.correo}}</td>
                          <td class="dato">{{ formulario.telefono }}</td>
                          <td class="dato">{{ formulario.firma}}</td>
                          <td>
                            <i [routerLink]="['/editar-formulario', formulario._id]" class="fas fa-edit text-primary"></i>
                            <i (click)="eliminarFormulario(formulario._id)" class="fas fa-trash text-danger"></i>
                          </td>
                          <button type="button" class = "btn btn-primary" (click)="generarpdf()" >Convertir</button>
                        </tr>
                      </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px;" *ngIf="listFormularios.length == 0">No hay formularios para mostrar</h5>
          </div>
      </div>
  </div>
